body {
    background-image: url("gplaypattern.png");
}
.header {
    width: 100%;
    height: 81px;
    background-color: white;
    border-bottom: 2px solid #cccccc;
  }

h1 {
    color: white;
    background: #4aaaa5;
    float: left;
    padding: 28px 30px 28px 30px;
    font-family: 'Georgia','Times New Roman', Times, serif;
    margin-left: 220px;
    margin-top: 0px;
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 1px;

}

ul {
    margin-right: 195px;
    float: right;
    overflow: auto;
    padding: 30px;
    color: #777777;
    font-size: 14px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}

li {
    display: inline; 
}

a {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    color: #777777;
}

.content {
    padding: 30px;
    clear: both;
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    line-height: 32px;
    margin-top: 30px;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia','Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 13px;
    letter-spacing: 1px;
}
hr {
    color: #777777;
}
img {
    float: left;
    width: 160px;
    height: 230px;
    padding-right: 20px;
}

p {
    color: #777777;
}

input[type="Name"] {
    border: 1;
    padding: 5px;
    font-size: 14px;
    width: 940px;
}
input[type="Email"] {
    border: 1;
    padding: 5px;
    font-size: 14px;
    width: 940px;
}
input[type="Message"] {
    border: 1;
    padding: 5px;
    font-size: 14px;
    width: 940px;
    height: 120px;
}

button {
    background: #4aaaa5;
    color: white;
    font-size: 14px;
    padding: 10px;
}

.footer {
    border-top: 7px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    font-size: 11px;
    padding-top: 30px;
    padding-bottom: 2px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }

  